[submodule "TheArchiveEngine/vendor/spdlog"]
	path = TheArchiveEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TheArchiveEngine/vendor/GLFW"]
	path = TheArchiveEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "TheArchiveEngine/vendor/imgui"]
	path = TheArchiveEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
